name: Publish

permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+.*
      - test-release.*

jobs:
  publish-crates:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-release
      - name: Install native dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt update -y
          sudo apt install -y {binutils,gcc}-{aarch64,riscv64}-linux-gnu \
          build-essential autopoint gettext libelf-dev zlib1g-dev libseccomp-dev \
          protobuf-compiler
      - name: Publish to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          cargo release -x --no-confirm --workspace --no-tag --no-push --allow-branch HEAD --exclude perfetto-trace-proto